<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Chryssie.Analyzers.MSBuild" value="S:\source\Chryssie\Analyzers.MSBuild" />
    <add key="RazorGenerator" value="S:\source\Chryssie\legacyrazor\src\System.Web.Mvc.RazorGenerator\bin\Debug" />
  </packageSources>
  <PackageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="RazorGenerator">
      <package pattern="System.Web.Mvc.RazorGenerator" />
    </packageSource>
    <packageSource key="Chryssie.Analyzers.MSBuild">
      <package pattern="Chryssie.Analyzers.MSBuild" />
    </packageSource>
  </PackageSourceMapping>
</configuration>
